#rectangle {
	border-color:black;
	border-style:solid;
	margin:auto;
	padding:auto;
}

#heading {
	position:500%;
	font-size:500%;
	border-color:white;
	border-style:solid;
	text-align:center;
	background-color:red;	
}

#terms{
	text-align:center;
	font-weight:normal;
}

#welcome{
	margin:auto;
	position:relative;
	text-align:center;
	border-style:solid;
	border-color:black;
	color:black;
	font-weight:bold;
	font-size:100%;
}

#check {
	position:relative;
	margin:2% 25% 0% 25%;
	text-align:center;
}

#SeriesInfo{
	border-style:solid;
	margin:auto;
	padding:0% 0%;
	text-align:center;
}

#InnerBox{
	border-style:groove;
	margin:0% 0% 0% 0%;
	text-align:center;
	padding:1%;
	font-weight:bold;
	font-size:100%;
}

#ValueBox{
	margin:0% 0% 0% 0%;
	text-align:center;
	padding:1% 1% 2% 0%;
}

#SideHeadings {
	font-size:200%;
	border-color:white;
	border-style:solid;
	text-align:center;
	background-color:red;
	
}

#normal{
	font-weight:normal;
}

.newseriesbut{
	position:relative;
	font-size:300%;
	text-align:center;
	width:50%;
	height:25%;
	margin:2% 25% 0% 25%;
	font-weight:bold;
}

.viewseriesbut{
	font-size:300%;
	text-align:center;
	width:50%;
	height:25%;
	margin: 3% 25% 0% 25%;
	font-weight:bold;
}

.back_main {
	margin:0% 100% 0% 0%;
	width:20%;
	text-align:center;
	font-weight:bold;
}

.NextBut {
	margin:0% 0% 0% 80%;
	width:20%;
	text-align:center;
	font-weight:bold;

}

.AddPlayers {
	margin:auto;
	width:10%;
	padding:0%;


}

#PlayersList {
	margin:auto;
	text-align:center;
	padding:0% 0% 1% 0%;
}

#show_players {
	border-style:normal;
	margin:auto;
	padding:0% 0%;
	text-align:center;

}
