#rectangle {
	border-color:black;
	border-style:solid;
	margin:auto;
	padding:auto;
}

#heading {
	position:500%;
	font-size:500%;
	border-color:white;
	border-style:solid;
	text-align:center;
	background-color:red;	
}

#terms{
	text-align:center;
	font-weight:normal;
}

#welcome{
	margin:auto;
	position:relative;
	text-align:center;
	border-style:solid;
	border-color:black;
	color:black;
	font-weight:bold;
	font-size:100%;
}

#check {
	position:relative;
	margin:2% 25% 0% 25%;
	text-align:center;
}

#SeriesInfo{
	border-style:solid;
	margin:auto;
	padding:0% 0%;
	text-align:center;
}

#InnerBox{
	border-style:groove;
	margin:0% 0% 0% 0%;
	text-align:center;
	padding:1%;
	font-weight:bold;
	font-size:100%;
	
}

#Centering{
	position:relative;
	border-style:normal;
	margin:0% 45% 0% 45%;
	padding:auto;
	text-align:justify;
	vertical-align:center;		
}


#ValueBox{
	margin:0% 0% 0% 0%;
	text-align:center;
	padding:1% 1% 2% 0%;
}

#SideHeadings {
	font-size:200%;
	border-color:white;
	border-style:solid;
	text-align:center;
	background-color:#FF3333;
	
}

#normal{
	font-weight:normal;
}

.newseriesbut{
	position:relative;
	font-size:300%;
	text-align:center;
	width:50%;
	height:25%;
	margin:2% 25% 0% 25%;
	font-weight:bold;
}

.viewseriesbut{
	font-size:300%;
	text-align:center;
	width:50%;
	height:25%;
	margin: 3% 25% 0% 25%;
	font-weight:bold;
}

.back_main {
	margin:auto;
	width:100px;
	height:50px;
	text-align:center;
	font-weight:bold;
}

.NextBut {
	margin:auto;
	width:100px;
	height:50px;
	text-align:center;
	font-weight:bold;

}

.AddPlayers {
	margin:auto;
	width:15%;
	padding:1%;
	text-align:center;
	font-size:100%;
}

.TextCenter {
	margin:auto;
	width:25%;
	padding:1%;
	text-align:center;
	font-size:100%;

}

#Boxed{
	margin:auto;
	border-style:normal;
	width:100%;
	padding:0%;
	text-align:center;
}

#ButtonBox{
	border-style:normal;
	padding:1%;
}


#PlayersList {
	margin:auto;
	text-align:center;
	padding:0% 0% 1% 0%;
}

#show_players {
}
